<!doctype html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>마이페이지</title>
</head>
<body>
    <div th:object="${session.member}">
        <h1 id="memberEmail" th:text="*{memberEmail}"></h1>
        <h1 id="memberName" th:text="*{memberName}"></h1>
    </div>
    <button onclick="window.location.href='/member/update'">회원 수정</button>
    <button onclick="window.location.href='/member/login'">로그 아웃</button>
    <button id="withdraw-button">회원 탈퇴</button>
</body>
<script th:inline="javascript">
        const withdraw = document.getElementById("withdraw-button");
    withdraw.addEventListener("click", () => {
        fetch("/member/withdraw", {
            "method": "DELETE"
        })
    })
</script>
</html>