<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.app.threetier.mapper.StudentMapper">
    <insert id="insert" parameterType="StudentVO">
        <selectKey keyProperty="id" order="BEFORE" resultType="Long">
            SELECT SEQ_STUDENT.NEXTVAL FROM DUAL
        </selectKey>
        INSERT INTO TBL_STUDENT
        VALUES (#{id}, #{studentName}, #{studentKor}, #{studentEng}, #{studentMath})
    </insert>

    <select id="selectAll" resultType="StudentDTO">
        SELECT ID, STUDENT_NAME, STUDENT_KOR, STUDENT_ENG, STUDENT_MATH , TOTAL, AVERAGE
        FROM VIEW_STUDENT
    </select>

    <!-- 학생 단일 조회 -->
    <select id="select" parameterType="Long" resultType="StudentDTO">
        SELECT ID, STUDENT_NAME, STUDENT_KOR, STUDENT_ENG, STUDENT_MATH , TOTAL, AVERAGE
        FROM VIEW_STUDENT
        WHERE ID = #{id}
    </select>
    <!--  점수 수정  -->
    <update id="update" parameterType="StudentVO">
        UPDATE TBL_STUDENT
        SET STUDENT_NAME = #{studentName}, STUDENT_KOR=#{studentKor}, STUDENT_ENG=#{studentEng},STUDENT_MATH=#{studentMath}
        WHERE ID = #{id}
    </update>
    <!--  학생 데이터 삭제  -->
    <delete id="delete" parameterType="Long">
        DELETE FROM TBL_STUDENT
        WHERE ID = #{id}
    </delete>
</mapper>